:root {
    --azul: #0A3D6F;
    --branco: white;
    --laranja: #e29506;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Para evitar problemas de box-sizing */
}

/* Garantir que o body e html ocupem 100% da altura */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--azul);
    padding: 5vh;
}

.search-nav {
    margin: 0 auto;
}

.search-1 {
    border-radius: 5px;
    padding-bottom: 2px;
}

.search-2 {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-top: 2px;
    padding-left: 2px;
}

.menu-item {
    background-color: var(--azul);
    font-size: 1.2em;
}

.menu-item a,
.menu-item li {
    padding: 10px;
    text-decoration: none;
}

.menu-item a {
    color: var(--branco);
}

.nav-item {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

#titulo-header {
    color: var(--branco);
}

/* Main Content */
article {
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;  /* Garante que o conteúdo ocupe o espaço disponível */
}

.linha-horizontal {
    width: 100%;
    border-top: 4px solid #23238E;
    padding-top: 20px;
}

main {
    padding-bottom: 10px;
}

/* Footer */
footer {
    background-color: var(--azul);
    padding-top: 10px;
    color: var(--branco);
    text-align: center;
    margin-top : auto;
}   

.container {
    display: flex;
    justify-content: space-evenly;
}

.item-footer a {
    color: var(--branco);
    text-decoration: none;
}

.item-footer {
    display: flex;
    justify-content: center;
    color: var(--branco);
}

#ultima-linha {
    color: var(--branco);
}
