{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}

<main>
    <h1>Dados do Cliente</h1>
    <div class="linha-horizontal"></div>

    <form method="post" class="formLogin" action="{% url 'cadastrar_cliente' %}">
        {% csrf_token %}

    

           

        <h2>Endereço do Cliente</h2>
        <div class="linha-horizontal"></div>
        
        <label for="cep">CEP:</label>
        <input type="text" name="cep"  class="form-control" />

        <label for="logradouro">Logradouro:</label>
        <input type="text" name="logradouro" class="form-control" />
    
        <label for="numero">N:</label>
        <input type="number" name="numero_casa" class="form-control" />

        <label for="bairro">Bairro:</label>
        <input type="bairro" name="bairro"  class="form-control"  />

        


        <input type="submit" value="Enviar" class="btn" />
    </form>
</main>

{% endblock %}
