{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}
{% block content %}

<main>
    <article>
    <h1>Dados do Cliente</h1>
    <div class="linha-horizontal"></div>

    <form method="post" class="formLogin" action="{% url 'cadastrar_cliente' %}">
        {% csrf_token %} 
        <div class="row">
             <div class="col">
                 <label for="nome">Nome:</label>
                 <input type="text" name="nome" class="form-control"  />
             </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="cpf">CPF:</label>
                <input type="text" name="cpf"class="form-control"   />
            </div>
            <div class="col">
                <label for="rg">RG:</label>
                <input type="text" name="rg" class="form-control" />
            </div>
            <div class="col">
                <label for="data_nascimento">Data de Nascimento: </label>
                <input type="date" name="data_nascimento" class="form-control"  />
            </div>    
        </div>

        <div class="row">
            <div class="col">
                
                <label for="genero">Gênero:</label>
                <input type="text" name="genero" class="form-control"/>
            </div>    
            <div class="col">
                <label for="contato">Contato:</label>
                <input type="text" name="contato" class="form-control" />

            </div>    
            <div class="col">
                <label for="whatsapp">Whatsapp:</label>
                <input type="text" class="form-control"  name="whatsapp"/>
            </div>  
        </div>
        <div class="row">
            <div class="col">
                <label for="email">E-mail:</label>
                <input type="email" name="email" class="form-control" />
            </div>  
        </div>
        <h2>Endereço do Cliente</h2>
        <div class="linha-horizontal"></div>
           <div class="row">
                <div class="col">
                    <label for="cep">CEP:</label>
                    <input type="text" name="cep"  class="form-control" />

                </div>  
                <div class="col">
                    <label for="logradouro">Logradouro:</label>
                    <input type="text" name="logradouro" class="form-control" />
        
                </div>  
                <div class="col">
                <label for="numero">N:</label>
                <input type="number" name="numero_casa" class="form-control" />  
                </div>  
                <div class="col">
                    <label for="bairro">Bairro:</label>
                    <input type="bairro" name="bairro"  class="form-control"  />

                </div>  
        </div>
       

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</article>  
</main>

{% endblock %}
