{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{% static 'css/style1.css' %}">
</head>
<body>
    
{% block content %}
<header>
  <img src="{% static 'img/advogado.png' %}" alt="símbolo de Advogados"> </img>     
  <h1 id="titulo-header">Mateus e Malta Advogados</h1>
      <nav class="menu-item">
          <ul class="nav-item">
              <li class="item-header">
                  <a href="#">Home</a>
              </li>
              <li class="item-header">
                  <a href="tasks/cliente.html">Cadastro</a>
              </li>
              <li class="item-header">
                 <a href="tasks/tarefas.html">Tarefas</a>
              </li>
              <li class="item-header">
                  <a href="tasks/processos.html">Processos</a>
              </li>
              <!--
              <li class="item-header">
                <a href="#"><img src="{% static 'img/usuario.png' %}" alt="login"> </img>     </a>
              </li>
            -->
          </ul> 
      </nav>
  
</header>
<p></p>
<p></p>

<p></p>

<p>.</p>

<p>.</p>

<p></p>

<p></p>

<p></p>
<p></p>

<p></p>

<p></p>
<p></p>

<p></p>
<p></p>
<p></p>

<footer>
    <div class="container">
    <!--ul1-->
  
  
        <p id="ultima-linha">feito por Luana Karoline e Rafaela Urtiga corporation 2024</p>
    </nav>
    </div>

</footer>
{% endblock %}
        
</div>
<footer> </footer>
</body>
</html>