{% extends 'base.html' %}
{% load static %}

{% block title %}Criar Tarefa{% endblock %}
{% block content %}

<main>
    <article>
        <h1>Criar Tarefa</h1>
        <div class="linha-horizontal"></div>

        <form method="post" class="formTarefa" action="{% url 'tarefa' %}">
            {% csrf_token %}
            
            <div class="row">
                <div class="col">
                    <label for="titulo_tarefa">Título da Tarefa*:</label>
                    <input type="text" name="titulo_tarefa" class="form-control" />
                </div>
            </div>

            <div class="row">
            
                <div class="col">
                    <label for="data_inicial">Data Inicial*:</label>
                    <input type="date" name="data_inicial" class="form-control" />
                </div>
                <div class="col">
                    <label for="data_fatal">Data Fatal*:</label>
                    <input type="date" name="data_fatal" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="situacao">Situação*:</label>
                    <input type="text" name="situacao" class="form-control" />
                </div>
                <div class="col">
                    <label for="responsavel">Responsável*:</label>
                    <input type="text" name="responsavel" class="form-control" />
                </div>
               <div class="col">
                    <label for="campo_select">Processo*:</label>
                    <select class="form-control" name="processo" id=”campo_select”>
                        {% for processo in processos %}
                            <option value="{{ processo.numero_processo }}">{{ processo.numero_processo }}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            </div>



            <p>*Campo Obrigatório</p>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

               {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </article>
    
 <article>
        <h2>Lista de Tarefas</h2>
        <div class="linha-horizontal"></div>
      <table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Data Base</th>
            <th>Data Inicial</th>
            <th>Data Fatal</th>
            <th>Situação</th>
            <th>Responsável</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in tarefas %}
        <tr>
            <td>{{ tarefa.titulo_tarefa }}</td>
            <td>{{ tarefa.data_base }}</td>
            <td>{{ tarefa.data_inicial }}</td>
            <td>{{ tarefa.data_fatal }}</td>
            <td>{{ tarefa.situacao }}</td>
            <td>{{ tarefa.responsavel }}</td>
            <td>
                <a href="{% url 'editar_tarefa' tarefa.id %}">
                    <img src="{% static 'img/iconeeditar.png' %}" alt="símbolo de excluir"></img>
                </a>
            </td>
            <td>
                <a href="{% url 'excluir_tarefa' tarefa.id %}">
                    <img src="{% static 'img/excluir.png' %}" alt="símbolo de excluir"></img>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        
    </article>
</main>

{% endblock %}
