{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href ="{% static 'css/style1.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %} " alt="Símbolo de Justiça">

    <title>{% block title %}Meu Site{% endblock %}</title>

</head>
<body>
    
<header>
  <img src="{% static 'img/advogado.png' %}" alt="símbolo de Advogados"> </img>     
  <h1 id="titulo-header">Mateus e Malta Advogados</h1>
      <nav class="menu-item">
          <ul class="nav-item">
              <li class="item-header">
                  <a href="#">Home</a>
              </li>
              <li class="item-header">
                  <a href="tasks/cliente.html">Cadastro</a>
              </li>
              <li class="item-header">
                 <a href="tasks/tarefas.html">Tarefas</a>
              </li>
              <li class="item-header">
                  <a href="tasks/processos.html">Processos</a>
              </li>
              <!--
              <li class="item-header">
                <a href="#"><img src="{% static 'img/usuario.png' %}" alt="login"> </img>     </a>
              </li>
            -->
          </ul> 
        </nav>
        <div class="ml-auto text-white">
            <!-- QUEM ESTA AUTH -->
          {% if user.is_authenticated %}
              <p>Bem vindo {{user.email}}</p>
          {% endif %}
        </div>
    
</header>
{% block content %}


{% endblock %}
<footer>
    <div class="container">
    <!--ul1-->
  
  
        <p id="ultima-linha">feito por Luana Karoline e Rafaela Urtiga corporation 2024</p>
    </nav>
    </div>

</footer>

        
</div>
<footer> </footer>
</body>
</html>
