{% load static %}

<header>
    <img src="{% static 'img/advogado.png' %}" alt="símbolo de Advogados">    
    <h1 id="titulo-header">Mateus e Malta Advogados</h1>
          <nav class="menu-item">
              <ul class="nav-item">
                  <li class="item-header">
                      <a href="#">Home</a>
                  </li>
                  <li class="item-header">
                      <a href="{% url 'adicionar_cliente' %}">Cadastro</a>
                  </li>
                  <li class="item-header">
                      <a href="{% url 'tarefa' %}">Tarefa</a>
                  </li>
                  <li class="item-header">
                      <a href="{% url 'adicionar_processo' %}">Processo</a>
                  </li>
                  <li class="item-header">
                      <a href="{% url 'autenticar_usuario'%}">Sair</a>
                  </li>
              </ul> 
          </nav>
  
          <div class="ml-auto text-white">
            {% if user.is_authenticated %}
                <p>Bem vindo {{user.email}}</p>
            {% endif %}
          </div>
  </header>
  